<!DOCTYPE html>
<html dir="rtl">
<head>

    <link href="/stylesheets/quizPage/style.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/quizPage/normalize.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/quizPage/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/quizPage/animate.min.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/quizPage/page_animations.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/quizPage/angular-material.css" type="text/css" rel="stylesheet">
    <!--<link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.0.8/angular-material.css'>-->
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-ui-router.js"></script>
    <script src='javascripts/angular-animate.min.js'></script>
    <script src='javascripts/angular-route.min.js'></script>
    <script src='javascripts/angular-aria.min.js'></script>
    <script src='javascripts/angular-messages.min.js'></script>
    <script src='javascripts/svg-assets-cache.js'></script>
    <script src='javascripts/angular-material.js'></script>
    <script src="javascripts/DashboardApp.js"></script>


    <style>
        input.sb_search {
            background: #f2f2f2 url(images/quizPage/search.png) no-repeat center center;
            height: 27px;
            width: 35px;
            float: left;
            border: none;
            margin: 3px 0px;
            border: 1px solid #fff;
            -moz-box-shadow: 1px 1px 3px #555;
            -webkit-box-shadow: 1px 1px 3px #555;
            -box-shadow: 1px 1px 3px #555;
            outline: none;
            cursor: pointer;
        }
    </style>

</head>

<body ng-app="dashboardApp" class="theme_1"
      style="background: url('images/quizPage/bg.jpg') center 0 no-repeat;background-size: cover;background-attachment: fixed;">

<script>
    function showQuestionPopUp() {
        console.log("i am here");
        document.getElementById("QuestionPopUp").style.visibility = "visible";

    }
</script>


<!-- Wrapper -->
<div id="wrapper">

    <!-- Social Icons(Used for mobile) -->
    <div class="social_icons mobile">
        <ul>
            <li>
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            </li>
            <li>
                <a href="#" class="linkedin"><i class="fa fa-linkedin-square"></i></a>
            </li>
            <li>
                <a href="#" class="github"><i class="fa fa-github"></i></a>
            </li>
            <li>
                <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
            </li>
        </ul>
    </div>
    <!-- /Social -->

    <!-- Main Menu -->
    <div class="main_menu" ng-controller="NavCtrl">
        <ul>
            <li>
                <a href="#home" class="active home" data-id="1" ng-click="gotoState('quizHome')"><i
                            class="fa fa-home"></i></a>
            </li>
            <li>
                <a href="#about" class="about" data-id="2" ng-click="gotoState('profile')"><i
                            class="fa fa-user"></i></a>
            </li>
            <li>
                <a href="#resume" class="resume" data-id="3" ng-click="gotoState('question')"><i
                            class="fa fa-tasks"></i></a>
            </li>
            <li>
                <a href="#portfolio" class="portfolio" data-id="4" ng-click="gotoState('category')"><i
                            class="fa fa-picture-o"></i></a>
            </li>
            <li>
                <a href="#blog" class="blog" data-id="5" ng-click="gotoState('quiz')"><i class="fa fa-list"></i></a>
            </li>
            <li>
                <a href="#contact" class="contact" data-id="6" ng-click="gotoState('contact')"><i
                            class="fa fa-envelope"></i></a>
            </li>
        </ul>
    </div>
    <!-- /Main Menu -->

    <!-- Main Content -->
    <div class="main_content">
        <div class="content">

            <!-- Home Page -->
            <div id="home" class="pt-page-current">
                <ui-view></ui-view>

                <!--&lt;!&ndash; Slider &ndash;&gt;-->
                <!--<div class="main_slider cycle-slideshow">-->
                <!--<div class="overlay">-->
                <!--<img src="/images/quizPage/quizup-main.jpg" alt="img"/>-->

                <!--<div class="description">-->

                <!--&lt;!&ndash; Description Rotator &ndash;&gt;-->
                <!--<div class="rotate">-->
                <!--MIKH TAAIZEN TAASH PAAINEN DAAS NAIZEN OOKH MAISHEN...-->
                <!--</div>-->
                <!--&lt;!&ndash; /Description Rotator &ndash;&gt;-->

                <!--</div>-->
                <!--</div>-->
                <!--<img src="/images/quizPage/slider_1.jpg" alt="img"/>-->
                <!--<img src="/images/quizPage/slider_2.jpg" alt="img"/>-->
                <!--<img src="/images/quizPage/slider_3.jpg" alt="img"/>-->
                <!--</div>-->
                <!--&lt;!&ndash; /Slider &ndash;&gt;-->

                <!--<div class="resume_btn goto_resume_btn">سوالات</div>-->
                <!--<a href="#" class="cv_download_btn">جستجو</a>-->
            </div>
            <!-- /Home Page -->

            <!-- About Page -->
            <div id="about">
                <ui-view></ui-view>
                <!--<h1 class="title color">پروفایل من</h1>-->

                <!--&lt;!&ndash; Left Side &ndash;&gt;-->
                <!--<div class="right_side">-->

                <!--&lt;!&ndash; Who i am &ndash;&gt;-->
                <!--<div class="box who_i_am">-->
                <!--<div class="title">-->
                <!--<div class="icon"><i class="fa fa-user"></i></div>-->
                <!--<div class="text">مشخصات فردی</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->

                <!--&lt;!&ndash; Description &ndash;&gt;-->
                <!--<div class="text">-->
                <!--My name is <strong>John Doe</strong> and I'm a <strong>Web Developer,-->
                <!--UI Designer and Graphic &amp; Web Designer</strong>-->
                <!--located in <strong>New York City, United States</strong>.-->
                <!--</div>-->
                <!--&lt;!&ndash; /Description &ndash;&gt;-->

                <!--&lt;!&ndash; Personal Details &ndash;&gt;-->
                <!--<div class="personal_details">-->
                <!--<div class="item title">-->
                <!--<div class="icon"><i class="fa fa-user"></i><span>نام</span></div>-->
                <!--<div class="text">John Doe</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="item title">-->
                <!--<div class="icon"><i class="fa fa-calendar"></i><span>تاریخ تولد</span></div>-->
                <!--<div class="text">January 17, 1992</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="item title">-->
                <!--<div class="icon"><i class="fa fa-map-marker"></i><span>آدرس</span></div>-->
                <!--<div class="text">New York City</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="item title">-->
                <!--<div class="icon"><i class="fa fa-mobile"></i><span>شماره تماس</span></div>-->
                <!--<div class="text">+ 123-456-7890</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="item title">-->
                <!--<div class="icon"><i class="fa fa-envelope"></i><span>پست الکترونیک</span></div>-->
                <!--<div class="text">john@site.com</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="item title">-->
                <!--<div class="icon"><i class="fa fa-external-link"></i><span>Website</span></div>-->
                <!--<div class="text"><a href="#">www.website.com</a></div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /Personal Details &ndash;&gt;-->

                <!--</div>-->
                <!--&lt;!&ndash; /Who i am &ndash;&gt;-->

                <!--&lt;!&ndash; What i do &ndash;&gt;-->
                <!--&lt;!&ndash;-->
                <!--<div class="box what_i_do">-->
                <!--<div class="title">-->
                <!--<div class="icon"><i class="fa fa-certificate"></i></div>-->
                <!--<div class="text">WHAT I DO</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="text">-->
                <!--Lorem ipsum dolor sit amet, consectetur-->
                <!--adipiscing elit. Praesent condimentum sed elit-->
                <!--vitae tristique. Aliquam erat volutpat. Nunc sit-->
                <!--amet cursus libero. In fringilla egestas ornare.-->
                <!--Vivamus enim tortor, ultricies nec lectus eget,-->
                <!--interdum elementum elit. Ut laoreet neque sit-->
                <!--amet velit auctor tempus. In ac lectus felis.-->
                <!--</div>-->
                <!--</div>-->
                <!--&ndash;&gt;-->
                <!--&lt;!&ndash; /What i do &ndash;&gt;-->

                <!--&lt;!&ndash; Tools i use &ndash;&gt;-->
                <!--&lt;!&ndash;-->
                <!--<div class="box tools_i_use">-->
                <!--<div class="title">-->
                <!--<div class="icon"><i class="fa fa-wrench"></i></div>-->
                <!--<div class="text">TOOLS I USE</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="tools">-->
                <!--<a href="#" class="tool btn">Photoshop</a>-->
                <!--<a href="#" class="tool btn">jQuery</a>-->
                <!--<a href="#" class="tool btn">Wordpress</a>-->
                <!--<a href="#" class="tool btn">After Effects</a>-->
                <!--<a href="#" class="tool btn">Joomla</a>-->
                <!--<a href="#" class="tool btn">Bootstrap</a>-->
                <!--<a href="#" class="tool btn">Drupal</a>-->
                <!--</div>-->
                <!--</div>-->
                <!--&ndash;&gt;-->
                <!--&lt;!&ndash; /Tools i use &ndash;&gt;-->

                <!--</div>-->
                <!--&lt;!&ndash; /Left Side &ndash;&gt;-->

                <!--&lt;!&ndash; Right Side &ndash;&gt;-->
                <!--<div class="right_side">-->

                <!--&lt;!&ndash; About Pictures &ndash;&gt;-->
                <!--<div class="box pictures cycle-slideshow">-->
                <!--<img src="/images/quizPage/about_1.jpg" class="first" alt="img"/>-->
                <!--<img src="/images/quizPage/about_2.jpg" alt="img"/>-->
                <!--<img src="/images/quizPage/about_3.jpg" alt="img"/>-->
                <!--</div>-->
                <!--&lt;!&ndash; /About Pictures &ndash;&gt;-->

                <!--&lt;!&ndash; My Services &ndash;&gt;-->
                <!--&lt;!&ndash;-->
                <!--<div class="box my_services">-->
                <!--<div class="title">-->
                <!--<div class="icon"><i class="fa fa-wrench"></i></div>-->
                <!--<div class="text">MY SERVICES</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="accordion">-->
                <!--<div class="item">-->
                <!--<div class="item_title">-->
                <!--<div class="item_btn">-->
                <!--<span class="text">Web Design</span>-->
                <!--<span class="arrow"><i class="fa fa-plus-circle"></i></span>-->

                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="item_text">-->
                <!--$$$$$$$$$$$$-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="item">-->
                <!--<div class="item_title">-->
                <!--<div class="item_btn">-->
                <!--<span class="text">Web Development</span>-->
                <!--<span class="arrow"><i class="fa fa-plus-circle"></i></span>-->

                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="item_text">-->
                <!--++++-->
                <!--<br/><br/>-->
                <!--&#45;&#45;&#45;&#45;-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="item">-->
                <!--<div class="item_title">-->
                <!--<div class="item_btn">-->
                <!--<span class="text">Graphic Design</span>-->
                <!--<span class="arrow"><i class="fa fa-plus-circle"></i></span>-->

                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="item_text">-->
                <!--****************-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--&ndash;&gt;-->
                <!--&lt;!&ndash; /My Services &ndash;&gt;-->

                <!--&lt;!&ndash; Testimonials &ndash;&gt;-->
                <!--&lt;!&ndash;-->
                <!--<div class="box testimonials">-->
                <!--<div class="title">-->
                <!--<div class="icon"><i class="fa fa-users"></i></div>-->
                <!--<div class="text">TESTIMONIALS</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="testimonials_btns">-->
                <!--<div class="fa fa-caret-left left_btn"></div>-->
                <!--<div class="fa fa-caret-right right_btn"></div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="testimonials cycle-slideshow" data-cycle-slides="div.testimonial">-->
                <!--<div class="testimonial current">-->
                <!--<div class="text">-->
                <!--/////////////-->
                <!--</div>-->
                <!--<div class="client">-->
                <!--&dash; A Client-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="testimonial">-->
                <!--<div class="text">-->
                <!--(((((((((((((-->
                <!--</div>-->
                <!--<div class="client">-->
                <!--&dash; A Client-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="testimonial">-->
                <!--<div class="text">-->
                <!--)))))))))))))-->
                <!--</div>-->
                <!--<div class="client">-->
                <!--&dash; A Client-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--&ndash;&gt;-->
                <!--&lt;!&ndash; /Testimonials &ndash;&gt;-->

                <!--</div>-->
                <!--&lt;!&ndash; /Right Side &ndash;&gt;-->

                <!--<div class="clear"></div>-->

                <!--&lt;!&ndash; Awards &ndash;&gt;-->
                <!--<div class="box awards">-->
                <!--<div class="title">-->
                <!--<div class="icon"><i class="fa fa-trophy"></i></div>-->
                <!--<div class="text">کوییز های من</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="awards">-->
                <!--<div class="award">-->
                <!--<div class="date">2014</div>-->
                <!--<div class="body">-->
                <!--<div class="award_title">1rst Award &bull; Name of Institute</div>-->
                <!--MIKH TAIZEN TAASH PAINEN DAAS NAIZEN OOKH MAISHEN-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="award">-->
                <!--<div class="date">2013</div>-->
                <!--<div class="body">-->
                <!--<div class="award_title">2nd Award &bull; Name of Institute</div>-->
                <!--MIKH TAIZEN TAASH PAINEN DAAS NAIZEN OOKH MAISHEN-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="award">-->
                <!--<div class="date">2012</div>-->
                <!--<div class="body">-->
                <!--<div class="award_title">3rd Award &bull; Name of Institute</div>-->
                <!--MIKH TAIZEN TAASH PAINEN DAAS NAIZEN OOKH MAISHEN-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /Awards &ndash;&gt;-->

                <!--<div class="clear"></div>-->
            </div>
            <!-- /About Page -->

            <!-- Resume Page -->
            <div id="resume">
                <ui-view></ui-view>
                <!--<h1 class="title color"></h1>-->

                <!--&lt;!&ndash; Left Side &ndash;&gt;-->
                <!--<div class="left_side">-->

                <!--&lt;!&ndash; Education &ndash;&gt;-->
                <!--<div class="education lists">-->
                <!--<div class="box_title title">-->
                <!--<div class="icon"><i class="fa fa-clock-o"></i></div>-->
                <!--<div class="text">سوالات</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="items">-->
                <!--<div class="item">-->
                <!--<div class="title">سوال ۱</div>-->
                <!--<div class="subtitle"><span class="date_text">2010-2013</span>&bull;<span-->
                <!--class="name">Computer Science</span></div>-->
                <!--<div class="text">-->
                <!--***-->
                <!--</div>-->
                <!--</div>-->

                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /Education &ndash;&gt;-->

                <!--&lt;!&ndash; Employment &ndash;&gt;-->
                <!--<div class="employment lists">-->
                <!--<div class="box_title title">-->
                <!--<div class="icon"><i class="fa fa-bolt"></i></div>-->
                <!--<div class="text">سوال جدید</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->

                <!--</div>-->

                <!--<a href="#QuestionPopUp" class="btn" onclick="showQuestionPopUp()"><i class="fa fa-download"></i><span> افزودن سوال </span>-->
                <!--<div class="clear"></div>-->
                <!--</a>-->
                <!--&lt;!&ndash; /Employment &ndash;&gt;-->


                <!--</div>-->
                <!--&lt;!&ndash; /Left Side &ndash;&gt;-->

                <!--&lt;!&ndash; Right Side &ndash;&gt;-->
                <!--<div class="right_side">-->

                <!--&lt;!&ndash; Skills &ndash;&gt;-->
                <!--&lt;!&ndash; /Skills &ndash;&gt;-->

                <!--&lt;!&ndash; search &ndash;&gt;-->
                <!--<div class="resume_download lists">-->
                <!--<div class="box_title title">-->
                <!--<div class="icon"><i class="fa fa-file-text"></i></div>-->
                <!--<div class="text">جستجو</div>-->
                <!--<div class="clear"></div>-->

                <!--</div>-->

                <!--<input type="text" class="form-control input-sm" id="pref-search">-->
                <!--<input class="sb_search" type="submit" value=""/>-->

                <!--</div>-->

                <!--&lt;!&ndash; /search &ndash;&gt;-->

                <!--</div>-->
                <!--&lt;!&ndash; /Right Side &ndash;&gt;-->

                <!--<div class="clear"></div>-->
            </div>
            <!-- /Resume Page -->

            <!-- Portfolio Page -->
            <div id="portfolio">
                <ui-view></ui-view>
                <!--<h1 class="page_title title color">تقسم بندی موضوعی</h1>-->

                <!--&lt;!&ndash; Description &ndash;&gt;-->

                <!--&lt;!&ndash; /Description &ndash;&gt;-->

                <!--&lt;!&ndash; Portfolio Items Type Selector &ndash;&gt;-->
                <!--<ul class="portfolio_selector">-->
                <!--<li class="filter active btn" data-filter="all">همه</li>-->
                <!--<li class="filter btn" data-filter="webdesign">کامپیوتر</li>-->
                <!--<li class="filter btn" data-filter="webdevelopment">برق</li>-->
                <!--<li class="filter btn" data-filter="logodesign">Lفناوری اطلاعات</li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; /Portfolio Items Type Selector &ndash;&gt;-->

                <!--&lt;!&ndash; Portfolio Items &ndash;&gt;-->
                <!--<ul id="portfolio_grid">-->
                <!--<li class="mix webdesign">-->
                <!--<a href="#portfolio_popup">-->
                <!--<img src="/images/quizPage/portfolio_1.jpg" alt="img"/>-->

                <!--<div class="main">-->
                <!--<div class="inner">-->
                <!--<i class="fa fa-picture-o licon"></i>-->
                <!--<i class="fa fa-search ricon"></i>-->
                <!--</div>-->
                <!--</div>-->
                <!--</a>-->

                <!--<div class="popup_information">-->
                <!--<div class="top">-->
                <!--<img src="/images/quizPage/portfolio_1_r.jpg" alt="img"/>-->
                <!--</div>-->
                <!--<div class="bottom">-->
                <!--<h3 class="title">Project Title</h3>-->
                <!--<ul class="details">-->
                <!--<li>Client: Client Name</li>-->
                <!--<li>Date: 5-10-2013</li>-->
                <!--</ul>-->
                <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consectetur-->
                <!--adipiscing elit. Praesent condimentum sed elit-->
                <!--vitae tristique. Aliquam erat volutpat. Nunc sit-->
                <!--amet cursus libero. In fringilla egestas ornare.-->
                <!--</p>-->

                <!--<div class="line">-->
                <!--<a href="#">Go to project</a>-->

                <!--<div class="share">-->
                <!--<span>or share it</span>-->
                <!--<a href="#" class="fa fa-twitter"></a>-->
                <!--<a href="#" class="fa fa-facebook"></a>-->
                <!--<a href="#" class="fa fa-youtube"></a>-->

                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="mix webdesign">-->
                <!--<a href="#portfolio_popup">-->
                <!--<img src="/images/quizPage/portfolio_2.jpg" alt="img"/>-->

                <!--<div class="main">-->
                <!--<div class="inner">-->
                <!--<i class="fa fa-video-camera licon"></i>-->
                <!--<i class="fa fa-search ricon"></i>-->
                <!--</div>-->
                <!--</div>-->
                <!--</a>-->

                <!--<div class="popup_information">-->
                <!--<div class="top video">-->
                <!--<iframe width="560" height="315" src="//" style="border:none;"-->
                <!--allowfullscreen></iframe>-->
                <!--<span class="video_url">http://www.youtube.com/embed/fa8rjN1xHn8?wmode=transparent</span>-->
                <!--</div>-->
                <!--<div class="bottom">-->
                <!--<h3 class="title">Project Title</h3>-->
                <!--<ul class="details">-->
                <!--<li>Client: Client Name</li>-->
                <!--<li>Date: 5-10-2013</li>-->
                <!--</ul>-->
                <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consectetur-->
                <!--adipiscing elit. Praesent condimentum sed elit-->
                <!--vitae tristique. Aliquam erat volutpat. Nunc sit-->
                <!--amet cursus libero. In fringilla egestas ornare.-->
                <!--</p>-->

                <!--<div class="line">-->
                <!--<a href="#">Go to project</a>-->

                <!--<div class="share">-->
                <!--<span>or share it</span>-->
                <!--<a href="#" class="fa fa-twitter"></a>-->
                <!--<a href="#" class="fa fa-facebook"></a>-->
                <!--<a href="#" class="fa fa-youtube"></a>-->

                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="mix webdevelopment">-->
                <!--<a href="#portfolio_popup">-->
                <!--<img src="/images/quizPage/portfolio_3.jpg" alt="img"/>-->

                <!--<div class="main">-->
                <!--<div class="inner">-->
                <!--<i class="fa fa-video-camera licon"></i>-->
                <!--<i class="fa fa-search ricon"></i>-->
                <!--</div>-->
                <!--</div>-->
                <!--</a>-->

                <!--<div class="popup_information">-->
                <!--<div class="top video">-->
                <!--<iframe width="560" height="315" src="//" style="border:none;"-->
                <!--allowfullscreen></iframe>-->
                <!--<span class="video_url">http://player.vimeo.com/video/83436955?title=0&amp;byline=0&amp;portrait=0&amp;color=f52a2d</span>-->
                <!--</div>-->
                <!--<div class="bottom">-->
                <!--<h3 class="title">Project Title</h3>-->
                <!--<ul class="details">-->
                <!--<li>Client: Client Name</li>-->
                <!--<li>Date: 5-10-2013</li>-->
                <!--</ul>-->
                <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consectetur-->
                <!--adipiscing elit. Praesent condimentum sed elit-->
                <!--vitae tristique. Aliquam erat volutpat. Nunc sit-->
                <!--amet cursus libero. In fringilla egestas ornare.-->
                <!--</p>-->

                <!--<div class="line">-->
                <!--<a href="#">Go to project</a>-->

                <!--<div class="share">-->
                <!--<span>or share it</span>-->
                <!--<a href="#" class="fa fa-twitter"></a>-->
                <!--<a href="#" class="fa fa-facebook"></a>-->
                <!--<a href="#" class="fa fa-youtube"></a>-->

                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="mix logodesign">-->
                <!--<a href="#portfolio_popup">-->
                <!--<img src="/images/quizPage/portfolio_4.jpg" alt="img"/>-->

                <!--<div class="main">-->
                <!--<div class="inner">-->
                <!--<i class="fa fa-picture-o licon"></i>-->
                <!--<i class="fa fa-search ricon"></i>-->
                <!--</div>-->
                <!--</div>-->
                <!--</a>-->

                <!--<div class="popup_information">-->
                <!--<div class="top">-->
                <!--<img src="/images/quizPage/portfolio_4_r.jpg" alt="img"/>-->
                <!--</div>-->
                <!--<div class="bottom">-->
                <!--<h3 class="title">Project Title</h3>-->
                <!--<ul class="details">-->
                <!--<li>Client: Client Name</li>-->
                <!--<li>Date: 5-10-2013</li>-->
                <!--</ul>-->
                <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consectetur-->
                <!--adipiscing elit. Praesent condimentum sed elit-->
                <!--vitae tristique. Aliquam erat volutpat. Nunc sit-->
                <!--amet cursus libero. In fringilla egestas ornare.-->
                <!--</p>-->

                <!--<div class="line">-->
                <!--<a href="#">Go to project</a>-->

                <!--<div class="share">-->
                <!--<span>or share it</span>-->
                <!--<a href="#" class="fa fa-twitter"></a>-->
                <!--<a href="#" class="fa fa-facebook"></a>-->
                <!--<a href="#" class="fa fa-youtube"></a>-->

                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="mix webdevelopment">-->
                <!--<a href="#portfolio_popup">-->
                <!--<img src="/images/quizPage/portfolio_5.jpg" alt="img"/>-->

                <!--<div class="main">-->
                <!--<div class="inner">-->
                <!--<i class="fa fa-picture-o licon"></i>-->
                <!--<i class="fa fa-search ricon"></i>-->
                <!--</div>-->
                <!--</div>-->
                <!--</a>-->

                <!--<div class="popup_information">-->
                <!--<div class="top">-->
                <!--<img src="/images/quizPage/portfolio_5_r.jpg" alt="img"/>-->
                <!--</div>-->
                <!--<div class="bottom">-->
                <!--<h3 class="title">Project Title</h3>-->
                <!--<ul class="details">-->
                <!--<li>Client: Client Name</li>-->
                <!--<li>Date: 5-10-2013</li>-->
                <!--</ul>-->
                <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consectetur-->
                <!--adipiscing elit. Praesent condimentum sed elit-->
                <!--vitae tristique. Aliquam erat volutpat. Nunc sit-->
                <!--amet cursus libero. In fringilla egestas ornare.-->
                <!--</p>-->

                <!--<div class="line">-->
                <!--<a href="#">Go to project</a>-->

                <!--<div class="share">-->
                <!--<span>or share it</span>-->
                <!--<a href="#" class="fa fa-twitter"></a>-->
                <!--<a href="#" class="fa fa-facebook"></a>-->
                <!--<a href="#" class="fa fa-youtube"></a>-->

                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="mix logodesign">-->
                <!--<a href="#portfolio_popup">-->
                <!--<img src="/images/quizPage/portfolio_6.jpg" alt="img"/>-->

                <!--<div class="main">-->
                <!--<div class="inner">-->
                <!--<i class="fa fa-picture-o licon"></i>-->
                <!--<i class="fa fa-search ricon"></i>-->
                <!--</div>-->
                <!--</div>-->
                <!--</a>-->

                <!--<div class="popup_information">-->
                <!--<div class="top">-->
                <!--<img src="/images/quizPage/portfolio_6_r.jpg" alt="img"/>-->
                <!--</div>-->
                <!--<div class="bottom">-->
                <!--<h3 class="title">Project Title</h3>-->
                <!--<ul class="details">-->
                <!--<li>Client: Client Name</li>-->
                <!--<li>Date: 5-10-2013</li>-->
                <!--</ul>-->
                <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consectetur-->
                <!--adipiscing elit. Praesent condimentum sed elit-->
                <!--vitae tristique. Aliquam erat volutpat. Nunc sit-->
                <!--amet cursus libero. In fringilla egestas ornare.-->
                <!--</p>-->

                <!--<div class="line">-->
                <!--<a href="#">Go to project</a>-->

                <!--<div class="share">-->
                <!--<span>or share it</span>-->
                <!--<a href="#" class="fa fa-twitter"></a>-->
                <!--<a href="#" class="fa fa-facebook"></a>-->
                <!--<a href="#" class="fa fa-youtube"></a>-->

                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="mix webdesign">-->
                <!--<a href="#portfolio_popup">-->
                <!--<img src="/images/quizPage/portfolio_7.jpg" alt="img"/>-->

                <!--<div class="main">-->
                <!--<div class="inner">-->
                <!--<i class="fa fa-picture-o licon"></i>-->
                <!--<i class="fa fa-search ricon"></i>-->
                <!--</div>-->
                <!--</div>-->
                <!--</a>-->

                <!--<div class="popup_information">-->
                <!--<div class="top">-->
                <!--<img src="/images/quizPage/portfolio_7_r.jpg" alt="img"/>-->
                <!--</div>-->
                <!--<div class="bottom">-->
                <!--<h3 class="title">Project Title</h3>-->
                <!--<ul class="details">-->
                <!--<li>Client: Client Name</li>-->
                <!--<li>Date: 5-10-2013</li>-->
                <!--</ul>-->
                <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consectetur-->
                <!--adipiscing elit. Praesent condimentum sed elit-->
                <!--vitae tristique. Aliquam erat volutpat. Nunc sit-->
                <!--amet cursus libero. In fringilla egestas ornare.-->
                <!--</p>-->

                <!--<div class="line">-->
                <!--<a href="#">Go to project</a>-->

                <!--<div class="share">-->
                <!--<span>or share it</span>-->
                <!--<a href="#" class="fa fa-twitter"></a>-->
                <!--<a href="#" class="fa fa-facebook"></a>-->
                <!--<a href="#" class="fa fa-youtube"></a>-->

                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="mix logodesign">-->
                <!--<a href="#portfolio_popup">-->
                <!--<img src="/images/quizPage/portfolio_8.jpg" alt="img"/>-->

                <!--<div class="main">-->
                <!--<div class="inner">-->
                <!--<i class="fa fa-picture-o licon"></i>-->
                <!--<i class="fa fa-search ricon"></i>-->
                <!--</div>-->
                <!--</div>-->
                <!--</a>-->

                <!--<div class="popup_information">-->
                <!--<div class="top">-->
                <!--<img src="/images/quizPage/portfolio_8_r.jpg" alt="img"/>-->
                <!--</div>-->
                <!--<div class="bottom">-->
                <!--<h3 class="title">Project Title</h3>-->
                <!--<ul class="details">-->
                <!--<li>Client: Client Name</li>-->
                <!--<li>Date: 5-10-2013</li>-->
                <!--</ul>-->
                <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consectetur-->
                <!--adipiscing elit. Praesent condimentum sed elit-->
                <!--vitae tristique. Aliquam erat volutpat. Nunc sit-->
                <!--amet cursus libero. In fringilla egestas ornare.-->
                <!--</p>-->

                <!--<div class="line">-->
                <!--<a href="#">Go to project</a>-->

                <!--<div class="share">-->
                <!--<span>or share it</span>-->
                <!--<a href="#" class="fa fa-twitter"></a>-->
                <!--<a href="#" class="fa fa-facebook"></a>-->
                <!--<a href="#" class="fa fa-youtube"></a>-->

                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="mix logodesign">-->
                <!--<a href="#portfolio_popup">-->
                <!--<img src="/images/quizPage/portfolio_9.jpg" alt="img"/>-->

                <!--<div class="main">-->
                <!--<div class="inner">-->
                <!--<i class="fa fa-picture-o licon"></i>-->
                <!--<i class="fa fa-search ricon"></i>-->
                <!--</div>-->
                <!--</div>-->
                <!--</a>-->

                <!--<div class="popup_information">-->
                <!--<div class="top">-->
                <!--<img src="/images/quizPage/portfolio_9_r.jpg" alt="img"/>-->
                <!--</div>-->
                <!--<div class="bottom">-->
                <!--<h3 class="title">Project Title</h3>-->
                <!--<ul class="details">-->
                <!--<li>Client: Client Name</li>-->
                <!--<li>Date: 5-10-2013</li>-->
                <!--</ul>-->
                <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consectetur-->
                <!--adipiscing elit. Praesent condimentum sed elit-->
                <!--vitae tristique. Aliquam erat volutpat. Nunc sit-->
                <!--amet cursus libero. In fringilla egestas ornare.-->
                <!--</p>-->

                <!--<div class="line">-->
                <!--<a href="#">Go to project</a>-->

                <!--<div class="share">-->
                <!--<span>or share it</span>-->
                <!--<a href="#" class="fa fa-twitter"></a>-->
                <!--<a href="#" class="fa fa-facebook"></a>-->
                <!--<a href="#" class="fa fa-youtube"></a>-->

                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="mix webdevelopment">-->
                <!--<a href="#portfolio_popup">-->
                <!--<img src="/images/quizPage/portfolio_5.jpg" alt="img"/>-->

                <!--<div class="main">-->
                <!--<div class="inner">-->
                <!--<i class="fa fa-picture-o licon"></i>-->
                <!--<i class="fa fa-search ricon"></i>-->
                <!--</div>-->
                <!--</div>-->
                <!--</a>-->

                <!--<div class="popup_information">-->
                <!--<div class="top">-->
                <!--<img src="/images/quizPage/portfolio_5_r.jpg" alt="img"/>-->
                <!--</div>-->
                <!--<div class="bottom">-->
                <!--<h3 class="title">Project Title</h3>-->
                <!--<ul class="details">-->
                <!--<li>Client: Client Name</li>-->
                <!--<li>Date: 5-10-2013</li>-->
                <!--</ul>-->
                <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consectetur-->
                <!--adipiscing elit. Praesent condimentum sed elit-->
                <!--vitae tristique. Aliquam erat volutpat. Nunc sit-->
                <!--amet cursus libero. In fringilla egestas ornare.-->
                <!--</p>-->

                <!--<div class="line">-->
                <!--<a href="#">Go to project</a>-->

                <!--<div class="share">-->
                <!--<span>or share it</span>-->
                <!--<a href="#" class="fa fa-twitter"></a>-->
                <!--<a href="#" class="fa fa-facebook"></a>-->
                <!--<a href="#" class="fa fa-youtube"></a>-->

                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="mix logodesign">-->
                <!--<a href="#portfolio_popup">-->
                <!--<img src="/images/quizPage/portfolio_6.jpg" alt="img"/>-->

                <!--<div class="main">-->
                <!--<div class="inner">-->
                <!--<i class="fa fa-picture-o licon"></i>-->
                <!--<i class="fa fa-search ricon"></i>-->
                <!--</div>-->
                <!--</div>-->
                <!--</a>-->

                <!--<div class="popup_information">-->
                <!--<div class="top">-->
                <!--<img src="/images/quizPage/portfolio_6_r.jpg" alt="img"/>-->
                <!--</div>-->
                <!--<div class="bottom">-->
                <!--<h3 class="title">Project Title</h3>-->
                <!--<ul class="details">-->
                <!--<li>Client: Client Name</li>-->
                <!--<li>Date: 5-10-2013</li>-->
                <!--</ul>-->
                <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consectetur-->
                <!--adipiscing elit. Praesent condimentum sed elit-->
                <!--vitae tristique. Aliquam erat volutpat. Nunc sit-->
                <!--amet cursus libero. In fringilla egestas ornare.-->
                <!--</p>-->

                <!--<div class="line">-->
                <!--<a href="#">Go to project</a>-->

                <!--<div class="share">-->
                <!--<span>or share it</span>-->
                <!--<a href="#" class="fa fa-twitter"></a>-->
                <!--<a href="#" class="fa fa-facebook"></a>-->
                <!--<a href="#" class="fa fa-youtube"></a>-->

                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="mix webdesign">-->
                <!--<a href="#portfolio_popup">-->
                <!--<img src="/images/quizPage/portfolio_1.jpg" alt="img"/>-->

                <!--<div class="main">-->
                <!--<div class="inner">-->
                <!--<i class="fa fa-picture-o licon"></i>-->
                <!--<i class="fa fa-search ricon"></i>-->
                <!--</div>-->
                <!--</div>-->
                <!--</a>-->

                <!--<div class="popup_information">-->
                <!--<div class="top">-->
                <!--<img src="/images/quizPage/portfolio_1_r.jpg" alt="img"/>-->
                <!--</div>-->
                <!--<div class="bottom">-->
                <!--<h3 class="title">Project Title</h3>-->
                <!--<ul class="details">-->
                <!--<li>Client: Client Name</li>-->
                <!--<li>Date: 5-10-2013</li>-->
                <!--</ul>-->
                <!--<p>-->
                <!--MIKH TAAIZEN TAASH PAAINEN DAAS NAIZEN OOKH MAISHEN...-->
                <!--</p>-->

                <!--<div class="line">-->
                <!--<a href="#">Go to project</a>-->

                <!--<div class="share">-->
                <!--<span>or share it</span>-->
                <!--<a href="#" class="fa fa-twitter"></a>-->
                <!--<a href="#" class="fa fa-facebook"></a>-->
                <!--<a href="#" class="fa fa-youtube"></a>-->

                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="gap"></li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; /Portfolio Items &ndash;&gt;-->

                <!--<div id="portfolio_popup" class="zoom-anim-dialog mfp-hide"></div>-->
                <!--<div class="clear"></div>-->
            </div>
            <!-- /Portfolio Page -->

            <!-- Blog Page -->

            <div id="blog">
                <ui-view></ui-view>
            </div>

            <!-- /Blog Page -->

            <!-- Contact Page -->
            <div id="contact">
                <ui-view></ui-view>
                <!--<h1 class="title color">ارتباط با ما</h1>-->

                <!--&lt;!&ndash; Description &ndash;&gt;-->

                <!--&lt;!&ndash; /Description &ndash;&gt;-->

                <!--&lt;!&ndash; Google Map &ndash;&gt;-->
                <!--<div id="gmap"></div>-->
                <!--&lt;!&ndash; /Google Map &ndash;&gt;-->

                <!--&lt;!&ndash; Info &ndash;&gt;-->
                <!--<div class="info">-->
                <!--&lt;!&ndash;-->
                <!--<div class="user">-->
                <!--<i class="fa fa-user"></i>-->
                <!--<span>John Doe</span>-->
                <!--</div>-->
                <!--<div class="user">-->
                <!--<i class="fa fa-map-marker"></i>-->
                <!--<span>New York City</span>-->
                <!--</div>-->
                <!--&ndash;&gt;-->
                <!--<div class="user">-->
                <!--<i class="fa fa-envelope"></i>-->
                <!--<span>john@site.com</span>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /Info &ndash;&gt;-->

                <!--&lt;!&ndash; Contact Form &ndash;&gt;-->
                <!--<div class="contact_form_outer">-->
                <!--<h1 class="title color">ارسال پیام</h1>-->

                <!--<p>-->
                <!--جهت ارسال پیام و نظرات خود از اینجا اقدام فرمایید.-->
                <!--</p>-->

                <!--<div class="contact_form">-->
                <!--<input type="text" value="" placeholder="نام" class="name"/>-->
                <!--<input type="email" value="" placeholder="پست الکترونیک" class="email"/>-->
                <!--<textarea class="message" placeholder="پیام"></textarea>-->
                <!--<input type="button" value="ارسال پیام" class="btn send_message_btn" name="submit"/>-->
                <!--<span class="message"></span>-->
                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /Contact Form &ndash;&gt;-->

                <!--&lt;!&ndash; Social Buttons &ndash;&gt;-->
                <!--<div class="social_btns">-->
                <!--<a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>-->
                <!--<a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>-->
                <!--<a href="#"><i class="fa fa-google-plus"></i><span>Google+</span></a>-->
                <!--<a href="#"><i class="fa fa-youtube"></i><span>YouTube</span></a>-->
                <!--<a href="#"><i class="fa fa-github"></i><span>Github</span></a>-->
                <!--<a href="#"><i class="fa fa-dribbble"></i><span>Dribbble</span></a>-->
                <!--<a href="#"><i class="fa fa-flickr"></i><span>Flickr</span></a>-->
                <!--<a href="#"><i class="fa fa-tumblr"></i><span>Tumblr</span></a>-->
                <!--<a href="#"><i class="fa fa-vk"></i><span>VK</span></a>-->
                <!--<a href="#"><i class="fa fa-skype"></i><span>Skype</span></a>-->
                <!--<a href="#"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>-->
                <!--<a href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a>-->
                <!--</div>-->
                <!--&lt;!&ndash; /Social Buttons &ndash;&gt;-->

            </div>
            <!-- /Contact Page -->

        </div>
        <div class="clear"></div>
    </div>
    <!-- /Main Content -->

    <!-- Social Buttons -->
    <div class="social_icons">
        <ul>
            <li>
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="more_social_icons_li">
                <a href="#" class="plus more_social_icons_btn"><i class="fa fa-plus"></i></a>
                <ul class="more_social_icons">
                    <li>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin-square"></i></a>
                    </li>
                    <li>
                        <a href="#" class="github"><i class="fa fa-github"></i></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /Social Buttons -->

    <div class="clear"></div>

</div>
<!-- /Wrapper -->

<!-- Footer -->

<!-- /Footer -->

<!-- Loading Overlay -->
<div class="loading_overlay">
    <div><img class="loading" src="/images/quizPage/loading.gif" alt="img"/></div>
</div>
<!-- /Loading Overlay -->

<!--Question Pop Up Window -->
<!--
<div id="QuestionPopUp" class="container">

    <div id="dialog" class="window">

        <div class="form-group-top">
            <label class="filter-col" for="pref-search">متن سوال</label>
            <input type="text" class="form-control input-sm" id="pref-search" placeholder="متن سوال را وارد کنید...">

        </div>

        <div class="form-group">
            <label class="filter-col" for="pref-orderby">دسته بندی</label>

            <select id="pref-orderby" class="form-control">s
                <option value
                ""> انتخاب کنید...
                <option>
                <option>کامپیوتر</option>
                <option>برق</option>
                <option>شیمی</option>
            </select>
        </div>


        <button type="submit" class="btn btn-default filter-col">
            <span class="glyphicon glyphicon-record"></span> افزوده شود
        </button>


    </div>
</div>
-->
<<<<<<< HEAD


=======
>>>>>>> 5b984898900c1c16ea8c40ebbd4ae98ff10d9d4e

<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/mixitup.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.cycle2.min.js"></script>
<script type="text/javascript" src="javascripts/modernizr.custom.js"></script>
<script type="text/javascript" src="javascripts/jquery.hoverdir.js"></script>
<script type="text/javascript" src="javascripts/jquery.mousewheel.js"></script>
<script type="text/javascript" src="javascripts/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.magnific_popup.js"></script>
<script type="text/javascript" src="javascripts/tweetie.min.js"></script>

<script src="http://maps.google.com/maps/api/js?sensor=false&amp;libraries=geometry&amp;v=3.7"></script>

<script type="text/javascript" src="javascripts/maplace.js"></script>
<script type="text/javascript" src="javascripts/scripts.js"></script>
<script type="text/javascript" src="javascripts/jquery.ba-hashchange.js"></script>
<script type="text/javascript" src="javascripts/quizPage.js"></script>


<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"/>
<!--[endif]-->


<script type="text/ng-template" id="/quizHome.html">

    <!-- Slider -->
    <div class="main_slider cycle-slideshow">
        <div class="overlay">
            <img src="/images/quizPage/quizup-main.jpg" alt="img"/>

            <div class="description">

                <!-- Description Rotator -->
                <div class="rotate">
                    MIKH TAAIZEN TAASH PAAINEN DAAS NAIZEN OOKH MAISHEN...
                </div>
                <!-- /Description Rotator -->

            </div>
        </div>
        <img src="/images/quizPage/slider_1.jpg" alt="img"/>
        <img src="/images/quizPage/slider_2.jpg" alt="img"/>
        <img src="/images/quizPage/slider_3.jpg" alt="img"/>
    </div>
    <!-- /Slider -->

    <div class="resume_btn goto_resume_btn">سوالات</div>
    <a href="#" class="cv_download_btn">جستجو</a>
</script>

<script type="text/ng-template" id="dialog1.tmpl.html">
    <md-dialog
            aria-label="Mango (Fruit)" ng-cloak>
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>فرم اضافه کردن سوال</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div id="dialog" class="window">
                    {{newQuestion}}
                    <h1 ng-show="errMessage">{{errMessage}}</h1>

                    <div class="form-group-top">
                        <label class="filter-col" for="pref-search">متن سوال</label>
                        <input type="text" class="form-control input-sm" id="pref-search" ng-model="newQuestion.body"
                               placeholder="متن سوال را وارد کنید...">
                    </div>

                    <div class="radio">
                        <div class="form-group-top">
                            <md-checkbox ng-model="newQuestion.choices[0].answer" ng-click="setAnswer(0)">گزینه اول</md-checkbox>
                            <input type="text" class="form-control input-sm" id="pref-search" ng-model="newQuestion.choices[0].title"
                                   placeholder="گزینه اول ">
                        </div>
                    </div>

                    <div class="radio">
                        <div class="form-group-top">
                            <md-checkbox ng-model="newQuestion.choices[1].answer" ng-click="setAnswer(1)">گزینه دوم</md-checkbox>
                            <input type="text" class="form-control input-sm" id="pref-search" ng-model="newQuestion.choices[1].title"
                                   placeholder="گزینه دوم ">
                        </div>
                    </div>
                    <div class="radio">
                        <div class="form-group-top">
                            <md-checkbox ng-model="newQuestion.choices[2].answer" ng-click="setAnswer(2)">گزینه سوم</md-checkbox>
                            <input type="text" class="form-control input-sm" id="pref-search" ng-model="newQuestion.choices[2].title"
                                   placeholder="گزینه سوم ">
                        </div>
                    </div>

                    <div class="radio">
                        <div class="form-group-top">
                            <md-checkbox ng-model="newQuestion.choices[3].answer" ng-click="setAnswer(3)">گزینه چهارم</md-checkbox>
                            <input type="text" class="form-control input-sm" id="pref-search" ng-model="newQuestion.choices[3].title"
                                   placeholder="گزینه چهارم">
                        </div>
                    </div>

                    <div class="form-group" style="padding-top: 5%;">
                        <label class="filter-col" for="pref-orderby">دسته بندی</label>

                        <select id="pref-orderby" class="form-control" ng-model="newQuestion.categoryName">
                            <option ng-repeat="category in categories">{{category.title}}</option>
                            <!--
                            <option value
                            ""> انتخاب کنید...
                            <option>
                            <option>کامپیوتر</option>
                            <option>برق</option>
                            <option>شیمی</option>
                            -->
                        </select>
                    </div>
                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <!--<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>-->
                <!--More on Wikipedia-->
                <!--</md-button>-->
                <!--<span flex></span>-->
                <!--<md-button ng-click="answer('not useful')">-->
                <!--Not Useful-->
                <!--</md-button>-->
                <md-button ng-click="answer('useful')" style="margin-right:20px;">ثبت سوال</md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>

<script type="text/ng-template" id="/profile.html">
    <h1 class="title color">پروفایل من</h1>

    <!-- Left Side -->
    <div class="right_side">

        <!-- Who i am -->
        <div class="box who_i_am">
            <div class="title">
                <div class="icon"><i class="fa fa-user"></i></div>
                <div class="text">مشخصات فردی</div>
                <div class="clear"></div>
            </div>

            <!-- Description -->
            <div class="text">
                My name is <strong>John Doe</strong> and I'm a <strong>Web Developer,
                    UI Designer and Graphic &amp; Web Designer</strong>
                located in <strong>New York City, United States</strong>.
            </div>
            <!-- /Description -->

            <!-- Personal Details -->
            <div class="personal_details">
                <div class="item title">
                    <div class="icon"><i class="fa fa-user"></i><span>نام</span></div>
                    <div class="text">John Doe</div>
                    <div class="clear"></div>
                </div>
                <div class="item title">
                    <div class="icon"><i class="fa fa-calendar"></i><span>تاریخ تولد</span></div>
                    <div class="text">January 17, 1992</div>
                    <div class="clear"></div>
                </div>
                <div class="item title">
                    <div class="icon"><i class="fa fa-map-marker"></i><span>آدرس</span></div>
                    <div class="text">New York City</div>
                    <div class="clear"></div>
                </div>
                <div class="item title">
                    <div class="icon"><i class="fa fa-mobile"></i><span>شماره تماس</span></div>
                    <div class="text">+ 123-456-7890</div>
                    <div class="clear"></div>
                </div>
                <div class="item title">
                    <div class="icon"><i class="fa fa-envelope"></i><span>پست الکترونیک</span></div>
                    <div class="text">john@site.com</div>
                    <div class="clear"></div>
                </div>
                <div class="item title">
                    <div class="icon"><i class="fa fa-external-link"></i><span>Website</span></div>
                    <div class="text"><a href="#">www.website.com</a></div>
                    <div class="clear"></div>
                </div>
            </div>
            <!-- /Personal Details -->

        </div>
        <!-- /Who i am -->

        <!-- What i do -->
        <!--
        <div class="box what_i_do">
        <div class="title">
        <div class="icon"><i class="fa fa-certificate"></i></div>
        <div class="text">WHAT I DO</div>
        <div class="clear"></div>
        </div>
        <div class="text">
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Praesent condimentum sed elit
        vitae tristique. Aliquam erat volutpat. Nunc sit
        amet cursus libero. In fringilla egestas ornare.
        Vivamus enim tortor, ultricies nec lectus eget,
        interdum elementum elit. Ut laoreet neque sit
        amet velit auctor tempus. In ac lectus felis.
        </div>
        </div>
        -->
        <!-- /What i do -->

        <!-- Tools i use -->
        <!--
        <div class="box tools_i_use">
        <div class="title">
        <div class="icon"><i class="fa fa-wrench"></i></div>
        <div class="text">TOOLS I USE</div>
        <div class="clear"></div>
        </div>
        <div class="tools">
        <a href="#" class="tool btn">Photoshop</a>
        <a href="#" class="tool btn">jQuery</a>
        <a href="#" class="tool btn">Wordpress</a>
        <a href="#" class="tool btn">After Effects</a>
        <a href="#" class="tool btn">Joomla</a>
        <a href="#" class="tool btn">Bootstrap</a>
        <a href="#" class="tool btn">Drupal</a>
        </div>
        </div>
        -->
        <!-- /Tools i use -->

    </div>
    <!-- /Left Side -->

    <!-- Right Side -->
    <div class="right_side">

        <!-- About Pictures -->
        <div class="box pictures cycle-slideshow">
            <img src="/images/quizPage/about_1.jpg" class="first" alt="img"/>
            <img src="/images/quizPage/about_2.jpg" alt="img"/>
            <img src="/images/quizPage/about_3.jpg" alt="img"/>
        </div>
        <!-- /About Pictures -->

        <!-- My Services -->
        <!--
        <div class="box my_services">
        <div class="title">
        <div class="icon"><i class="fa fa-wrench"></i></div>
        <div class="text">MY SERVICES</div>
        <div class="clear"></div>
        </div>
        <div class="accordion">
        <div class="item">
        <div class="item_title">
        <div class="item_btn">
        <span class="text">Web Design</span>
        <span class="arrow"><i class="fa fa-plus-circle"></i></span>

        <div class="clear"></div>
        </div>
        <div class="clear"></div>
        </div>
        <div class="item_text">
        $$$$$$$$$$$$
        </div>
        <div class="clear"></div>
        </div>
        <div class="item">
        <div class="item_title">
        <div class="item_btn">
        <span class="text">Web Development</span>
        <span class="arrow"><i class="fa fa-plus-circle"></i></span>

        <div class="clear"></div>
        </div>
        <div class="clear"></div>
        </div>
        <div class="item_text">
        ++++
        <br/><br/>
        &#45;&#45;&#45;&#45;
        </div>
        <div class="clear"></div>
        </div>
        <div class="item">
        <div class="item_title">
        <div class="item_btn">
        <span class="text">Graphic Design</span>
        <span class="arrow"><i class="fa fa-plus-circle"></i></span>

        <div class="clear"></div>
        </div>
        <div class="clear"></div>
        </div>
        <div class="item_text">
        ****************
        </div>
        <div class="clear"></div>
        </div>
        </div>
        </div>
        -->
        <!-- /My Services -->

        <!-- Testimonials -->
        <!--
        <div class="box testimonials">
        <div class="title">
        <div class="icon"><i class="fa fa-users"></i></div>
        <div class="text">TESTIMONIALS</div>
        <div class="clear"></div>
        </div>
        <div class="testimonials_btns">
        <div class="fa fa-caret-left left_btn"></div>
        <div class="fa fa-caret-right right_btn"></div>
        <div class="clear"></div>
        </div>
        <div class="testimonials cycle-slideshow" data-cycle-slides="div.testimonial">
        <div class="testimonial current">
        <div class="text">
        /////////////
        </div>
        <div class="client">
        &dash; A Client
        </div>
        </div>
        <div class="testimonial">
        <div class="text">
        (((((((((((((
        </div>
        <div class="client">
        &dash; A Client
        </div>
        </div>
        <div class="testimonial">
        <div class="text">
        )))))))))))))
        </div>
        <div class="client">
        &dash; A Client
        </div>
        </div>
        </div>
        </div>
        -->
        <!-- /Testimonials -->

    </div>
    <!-- /Right Side -->

    <div class="clear"></div>

    <!-- Awards -->
    <div class="box awards">
        <div class="title">
            <div class="icon"><i class="fa fa-trophy"></i></div>
            <div class="text">کوییز های من</div>
            <div class="clear"></div>
        </div>
        <div class="awards">
            <div class="award">
                <div class="date">2014</div>
                <div class="body">
                    <div class="award_title">1rst Award &bull; Name of Institute</div>
                    MIKH TAIZEN TAASH PAINEN DAAS NAIZEN OOKH MAISHEN
                </div>
                <div class="clear"></div>
            </div>
            <div class="award">
                <div class="date">2013</div>
                <div class="body">
                    <div class="award_title">2nd Award &bull; Name of Institute</div>
                    MIKH TAIZEN TAASH PAINEN DAAS NAIZEN OOKH MAISHEN
                </div>
                <div class="clear"></div>
            </div>
            <div class="award">
                <div class="date">2012</div>
                <div class="body">
                    <div class="award_title">3rd Award &bull; Name of Institute</div>
                    MIKH TAIZEN TAASH PAINEN DAAS NAIZEN OOKH MAISHEN
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- /Awards -->

    <div class="clear"></div>
</script>

<script type="text/ng-template" id="/question.html">
    <h1 class="title color"></h1>

    <!-- Left Side -->
    <div class="left_side">

        <!-- Education -->
        <div class="education lists">
            <div class="box_title title" dir="rtl">
                <div class="icon"><i class="fa fa-clock-o"></i></div>
                <div class="text">سوالات</div>
                <div class="clear"></div>
            </div>
            <div class="items">
                <div class="item">
                    <div class="title">سوال ۱<label for="category" style="margin-right: 82%"> category </label>

                    </div>


                    <div class="subtitle"><span class="date_text">2010-2013</span>&bull;<span
                                class="name">Computer Science</span></div>
                    <div class="text">
                        ***
                    </div>
                </div>

            </div>
        </div>
        <!-- /Education -->

        <!-- Employment -->
        <div class="employment lists">
            <div class="box_title title">
                <div class="icon"><i class="fa fa-bolt"></i></div>
                <div class="text">سوال جدید</div>
                <div class="clear"></div>
            </div>

        </div>

        <a class="btn" ng-click="showAdvanced($event)"><i class="fa fa-download"></i><span> افزودن سوال </span>


            <div class="clear"></div>
        </a>
        <!-- /Employment -->


    </div>
    <!-- /Left Side -->

    <!-- Right Side -->
    <div class="right_side">

        <!-- Skills -->
        <!-- /Skills -->

        <!-- search -->
        <div class="resume_download lists">
            <div class="box_title title">
                <div class="icon"><i class="fa fa-file-text"></i></div>
                <div class="text">جستجو</div>
                <div class="clear"></div>

            </div>

            <input type="text" class="form-control input-sm" id="pref-search">
            <input class="sb_search" type="submit" value=""/>

        </div>

        <!-- /search -->

    </div>
    <!-- /Right Side -->

    <div class="clear"></div>
</script>

<script type="text/ng-template" id="/category.html">

    <div id="sample-category">
        <div ng-repeat="category in categories">
            <h2 ng-show="category.show">{{category.title}} -- {{category.type}} -- {{category._id}}</h2>
        </div>
        <div ng-click="filterByType('1')">
            <p>filter</p>
        </div>

        <div ng-click="addCategory(sampleCategory)">
            <p>add</p>
        </div>


        <div ng-click="removeCategory(sampleCategory.title)">
            <p>remove</p>
        </div>
    </div>

    <div id="sinai-don-t-touch">{{}}</div>
    <h1 class="page_title title color">تقسم بندی موضوعی</h1>

    <!-- Description -->

    <!-- /Description -->

    <!-- Portfolio Items Type Selector -->
    <ul class="portfolio_selector">
        <li class="filter active btn" data-filter="all">همه</li>
        <li class="filter btn" data-filter="webdesign">کامپیوتر</li>
        <li class="filter btn" data-filter="webdevelopment">برق</li>
        <li class="filter btn" data-filter="logodesign">Lفناوری اطلاعات</li>
    </ul>
    <!-- /Portfolio Items Type Selector -->

    <!-- Portfolio Items -->
    <ul id="portfolio_grid">
        <li class="mix webdesign">
            <a href="#portfolio_popup">
                <img src="/images/quizPage/portfolio_1.jpg" alt="img"/>

                <div class="main">
                    <div class="inner">
                        <i class="fa fa-picture-o licon"></i>
                        <i class="fa fa-search ricon"></i>
                    </div>
                </div>
            </a>

            <div class="popup_information">
                <div class="top">
                    <img src="/images/quizPage/portfolio_1_r.jpg" alt="img"/>
                </div>
                <div class="bottom">
                    <h3 class="title">Project Title</h3>
                    <ul class="details">
                        <li>Client: Client Name</li>
                        <li>Date: 5-10-2013</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                    </p>

                    <div class="line">
                        <a href="#">Go to project</a>

                        <div class="share">
                            <span>or share it</span>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-youtube"></a>

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="mix webdesign">
            <a href="#portfolio_popup">
                <img src="/images/quizPage/portfolio_2.jpg" alt="img"/>

                <div class="main">
                    <div class="inner">
                        <i class="fa fa-video-camera licon"></i>
                        <i class="fa fa-search ricon"></i>
                    </div>
                </div>
            </a>

            <div class="popup_information">
                <div class="top video">
                    <iframe width="560" height="315" src="//" style="border:none;"
                            allowfullscreen></iframe>
                    <span class="video_url">http://www.youtube.com/embed/fa8rjN1xHn8?wmode=transparent</span>
                </div>
                <div class="bottom">
                    <h3 class="title">Project Title</h3>
                    <ul class="details">
                        <li>Client: Client Name</li>
                        <li>Date: 5-10-2013</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                    </p>

                    <div class="line">
                        <a href="#">Go to project</a>

                        <div class="share">
                            <span>or share it</span>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-youtube"></a>

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="mix webdevelopment">
            <a href="#portfolio_popup">
                <img src="/images/quizPage/portfolio_3.jpg" alt="img"/>

                <div class="main">
                    <div class="inner">
                        <i class="fa fa-video-camera licon"></i>
                        <i class="fa fa-search ricon"></i>
                    </div>
                </div>
            </a>

            <div class="popup_information">
                <div class="top video">
                    <iframe width="560" height="315" src="//" style="border:none;"
                            allowfullscreen></iframe>
                    <span class="video_url">http://player.vimeo.com/video/83436955?title=0&amp;byline=0&amp;portrait=0&amp;color=f52a2d</span>
                </div>
                <div class="bottom">
                    <h3 class="title">Project Title</h3>
                    <ul class="details">
                        <li>Client: Client Name</li>
                        <li>Date: 5-10-2013</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                    </p>

                    <div class="line">
                        <a href="#">Go to project</a>

                        <div class="share">
                            <span>or share it</span>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-youtube"></a>

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="mix logodesign">
            <a href="#portfolio_popup">
                <img src="/images/quizPage/portfolio_4.jpg" alt="img"/>

                <div class="main">
                    <div class="inner">
                        <i class="fa fa-picture-o licon"></i>
                        <i class="fa fa-search ricon"></i>
                    </div>
                </div>
            </a>

            <div class="popup_information">
                <div class="top">
                    <img src="/images/quizPage/portfolio_4_r.jpg" alt="img"/>
                </div>
                <div class="bottom">
                    <h3 class="title">Project Title</h3>
                    <ul class="details">
                        <li>Client: Client Name</li>
                        <li>Date: 5-10-2013</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                    </p>

                    <div class="line">
                        <a href="#">Go to project</a>

                        <div class="share">
                            <span>or share it</span>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-youtube"></a>

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="mix webdevelopment">
            <a href="#portfolio_popup">
                <img src="/images/quizPage/portfolio_5.jpg" alt="img"/>

                <div class="main">
                    <div class="inner">
                        <i class="fa fa-picture-o licon"></i>
                        <i class="fa fa-search ricon"></i>
                    </div>
                </div>
            </a>

            <div class="popup_information">
                <div class="top">
                    <img src="/images/quizPage/portfolio_5_r.jpg" alt="img"/>
                </div>
                <div class="bottom">
                    <h3 class="title">Project Title</h3>
                    <ul class="details">
                        <li>Client: Client Name</li>
                        <li>Date: 5-10-2013</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                    </p>

                    <div class="line">
                        <a href="#">Go to project</a>

                        <div class="share">
                            <span>or share it</span>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-youtube"></a>

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="mix logodesign">
            <a href="#portfolio_popup">
                <img src="/images/quizPage/portfolio_6.jpg" alt="img"/>

                <div class="main">
                    <div class="inner">
                        <i class="fa fa-picture-o licon"></i>
                        <i class="fa fa-search ricon"></i>
                    </div>
                </div>
            </a>

            <div class="popup_information">
                <div class="top">
                    <img src="/images/quizPage/portfolio_6_r.jpg" alt="img"/>
                </div>
                <div class="bottom">
                    <h3 class="title">Project Title</h3>
                    <ul class="details">
                        <li>Client: Client Name</li>
                        <li>Date: 5-10-2013</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                    </p>

                    <div class="line">
                        <a href="#">Go to project</a>

                        <div class="share">
                            <span>or share it</span>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-youtube"></a>

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="mix webdesign">
            <a href="#portfolio_popup">
                <img src="/images/quizPage/portfolio_7.jpg" alt="img"/>

                <div class="main">
                    <div class="inner">
                        <i class="fa fa-picture-o licon"></i>
                        <i class="fa fa-search ricon"></i>
                    </div>
                </div>
            </a>

            <div class="popup_information">
                <div class="top">
                    <img src="/images/quizPage/portfolio_7_r.jpg" alt="img"/>
                </div>
                <div class="bottom">
                    <h3 class="title">Project Title</h3>
                    <ul class="details">
                        <li>Client: Client Name</li>
                        <li>Date: 5-10-2013</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                    </p>

                    <div class="line">
                        <a href="#">Go to project</a>

                        <div class="share">
                            <span>or share it</span>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-youtube"></a>

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="mix logodesign">
            <a href="#portfolio_popup">
                <img src="/images/quizPage/portfolio_8.jpg" alt="img"/>

                <div class="main">
                    <div class="inner">
                        <i class="fa fa-picture-o licon"></i>
                        <i class="fa fa-search ricon"></i>
                    </div>
                </div>
            </a>

            <div class="popup_information">
                <div class="top">
                    <img src="/images/quizPage/portfolio_8_r.jpg" alt="img"/>
                </div>
                <div class="bottom">
                    <h3 class="title">Project Title</h3>
                    <ul class="details">
                        <li>Client: Client Name</li>
                        <li>Date: 5-10-2013</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                    </p>

                    <div class="line">
                        <a href="#">Go to project</a>

                        <div class="share">
                            <span>or share it</span>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-youtube"></a>

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="mix logodesign">
            <a href="#portfolio_popup">
                <img src="/images/quizPage/portfolio_9.jpg" alt="img"/>

                <div class="main">
                    <div class="inner">
                        <i class="fa fa-picture-o licon"></i>
                        <i class="fa fa-search ricon"></i>
                    </div>
                </div>
            </a>

            <div class="popup_information">
                <div class="top">
                    <img src="/images/quizPage/portfolio_9_r.jpg" alt="img"/>
                </div>
                <div class="bottom">
                    <h3 class="title">Project Title</h3>
                    <ul class="details">
                        <li>Client: Client Name</li>
                        <li>Date: 5-10-2013</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                    </p>

                    <div class="line">
                        <a href="#">Go to project</a>

                        <div class="share">
                            <span>or share it</span>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-youtube"></a>

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="mix webdevelopment">
            <a href="#portfolio_popup">
                <img src="/images/quizPage/portfolio_5.jpg" alt="img"/>

                <div class="main">
                    <div class="inner">
                        <i class="fa fa-picture-o licon"></i>
                        <i class="fa fa-search ricon"></i>
                    </div>
                </div>
            </a>

            <div class="popup_information">
                <div class="top">
                    <img src="/images/quizPage/portfolio_5_r.jpg" alt="img"/>
                </div>
                <div class="bottom">
                    <h3 class="title">Project Title</h3>
                    <ul class="details">
                        <li>Client: Client Name</li>
                        <li>Date: 5-10-2013</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                    </p>

                    <div class="line">
                        <a href="#">Go to project</a>

                        <div class="share">
                            <span>or share it</span>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-youtube"></a>

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="mix logodesign">
            <a href="#portfolio_popup">
                <img src="/images/quizPage/portfolio_6.jpg" alt="img"/>

                <div class="main">
                    <div class="inner">
                        <i class="fa fa-picture-o licon"></i>
                        <i class="fa fa-search ricon"></i>
                    </div>
                </div>
            </a>

            <div class="popup_information">
                <div class="top">
                    <img src="/images/quizPage/portfolio_6_r.jpg" alt="img"/>
                </div>
                <div class="bottom">
                    <h3 class="title">Project Title</h3>
                    <ul class="details">
                        <li>Client: Client Name</li>
                        <li>Date: 5-10-2013</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                    </p>

                    <div class="line">
                        <a href="#">Go to project</a>

                        <div class="share">
                            <span>or share it</span>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-youtube"></a>

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="mix webdesign">
            <a href="#portfolio_popup">
                <img src="/images/quizPage/portfolio_1.jpg" alt="img"/>

                <div class="main">
                    <div class="inner">
                        <i class="fa fa-picture-o licon"></i>
                        <i class="fa fa-search ricon"></i>
                    </div>
                </div>
            </a>

            <div class="popup_information">
                <div class="top">
                    <img src="/images/quizPage/portfolio_1_r.jpg" alt="img"/>
                </div>
                <div class="bottom">
                    <h3 class="title">Project Title</h3>
                    <ul class="details">
                        <li>Client: Client Name</li>
                        <li>Date: 5-10-2013</li>
                    </ul>
                    <p>
                        MIKH TAAIZEN TAASH PAAINEN DAAS NAIZEN OOKH MAISHEN...
                    </p>

                    <div class="line">
                        <a href="#">Go to project</a>

                        <div class="share">
                            <span>or share it</span>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-youtube"></a>

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="gap"></li>
    </ul>
    <!-- /Portfolio Items -->

    <div id="portfolio_popup" class="zoom-anim-dialog mfp-hide"></div>
    <div class="clear"></div>
</script>

<script type="text/ng-template" id="/quiz.html">

    <h1 class="title color"></h1>
    <!-- Left Side -->
    <div class="left_side">

        <!-- Education -->
        <div class="education lists">
            <div class="box_title title">
                <div class="icon"><i class="fa fa-clock-o"></i></div>
                <div class="text">سوالات</div>
                <div class="clear"></div>
            </div>
            <div class="items">
                <!-- question 1 -->
                <div class="item">
                    <div class="title">سوال ۱</div>
                    <div class="subtitle"><span class="date_text">2010-2013</span>&bull;<span
                                class="name">Computer Science</span></div>
                    <div>
                        <input type="radio" id="answerSelect">گزینه ۱</input>
                    </div>
                    <div>
                        <input type="radio" id="answerSelect">گزینه ۲</input>
                    </div>
                    <div>
                        <input type="radio" id="answerSelect">گزینه ۳</input>
                    </div>
                    <div>
                        <input type="radio" id="answerSelect">گزینه ۴</input>
                    </div>
                </div>

                <!-- question 2 -->
                <div class="item">
                    <div class="title">سوال ۲</div>
                    <div class="subtitle"><span class="date_text">2010-2013</span>&bull;<span
                                class="name">Computer Science</span></div>
                    <div>
                        <input type="radio" id="answerSelect">گزینه ۱</input>
                    </div>
                    <div>
                        <input type="radio" id="answerSelect">گزینه ۲</input>
                    </div>
                    <div>
                        <input type="radio" id="answerSelect">گزینه ۳</input>
                    </div>
                    <div>
                        <input type="radio" id="answerSelect">گزینه ۴</input>
                    </div>
                </div>

                <!-- question 3 -->
                <div class="item">
                    <div class="title">سوال ۳</div>
                    <div class="subtitle"><span class="date_text">2010-2013</span>&bull;<span
                                class="name">Computer Science</span></div>
                    <div>
                        <input type="radio" id="answerSelect">گزینه ۱</input>
                    </div>
                    <div>
                        <input type="radio" id="answerSelect">گزینه ۲</input>
                    </div>
                    <div>
                        <input type="radio" id="answerSelect">گزینه ۳</input>
                    </div>
                    <div>
                        <input type="radio" id="answerSelect">گزینه ۴</input>
                    </div>
                </div>


            </div>
        </div>
        <!-- /Education -->

        <!-- Employment -->


        <!-- /Employment -->

    </div>
    <!-- /Left Side -->


    <!-- Right Side -->
    <div class="right_side">
        <div>
            <img style="width: 40%" src="images/quizPage/thinking2.png">
        </div>
        <!-- Education -->
        <div class="education lists">

            <div class="items">
                <!-- question 4 -->
                <div class="item">
                    <div class="title">سوال ۴</div>
                    <div class="subtitle"><span class="date_text">2010-2013</span>&bull;<span
                                class="name">Computer Science</span></div>
                    <div>
                        <input type="radio" id="answerSelect">گزینه ۱</input>
                    </div>
                    <div>
                        <input type="radio" id="answerSelect">گزینه ۲</input>
                    </div>
                    <div>
                        <input type="radio" id="answerSelect">گزینه ۳</input>
                    </div>
                    <div>
                        <input type="radio" id="answerSelect">گزینه ۴</input>
                    </div>
                </div>

                <!-- question ۵ -->
                <div class="item">
                    <div class="title">سوال ۵</div>
                    <div class="subtitle"><span class="date_text">2010-2013</span>&bull;<span
                                class="name">Computer Science</span></div>
                    <div>
                        <input type="radio" id="answerSelect">گزینه ۱</input>
                    </div>
                    <div>
                        <input type="radio" id="answerSelect">گزینه ۲</input>
                    </div>
                    <div>
                        <input type="radio" id="answerSelect">گزینه ۳</input>
                    </div>
                    <div>
                        <input type="radio" id="answerSelect">گزینه ۴</input>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Education -->

        <!-- Employment -->


        <!-- /Employment -->

    </div>
    <!-- /Right Side -->


    <div class="clear"></div>

    <a href="#QuestionPopUp" class="btn" onclick="showQuestionPopUp()" id="submitQuiz"><i
                class="fa fa-download"></i><span> ثبت کوییز </span>

        <div class="clear"></div>
    </a>

</script>

<script type="text/ng-template" id="/contact.html">
    <h1 class="title color">ارتباط با ما</h1>

    <!-- Description -->

    <!-- /Description -->

    <!-- Google Map -->
    <div id="gmap"></div>
    <!-- /Google Map -->

    <!-- Info -->
    <div class="info">
        <!--
        <div class="user">
        <i class="fa fa-user"></i>
        <span>John Doe</span>
        </div>
        <div class="user">
        <i class="fa fa-map-marker"></i>
        <span>New York City</span>
        </div>
        -->
        <div class="user">
            <i class="fa fa-envelope"></i>
            <span>john@site.com</span>
        </div>
        <div class="clear"></div>
    </div>
    <!-- /Info -->

    <!-- Contact Form -->
    <div class="contact_form_outer">
        <h1 class="title color">ارسال پیام</h1>

        <p>
            جهت ارسال پیام و نظرات خود از اینجا اقدام فرمایید.
        </p>

        <div class="contact_form">
            <input type="text" value="" placeholder="نام" class="name"/>
            <input type="email" value="" placeholder="پست الکترونیک" class="email"/>
            <textarea class="message" placeholder="پیام"></textarea>
            <input type="button" value="ارسال پیام" class="btn send_message_btn" name="submit"/>
            <span class="message"></span>
        </div>
    </div>
    <!-- /Contact Form -->

    <!-- Social Buttons -->
    <div class="social_btns">
        <a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
        <a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
        <a href="#"><i class="fa fa-google-plus"></i><span>Google+</span></a>
        <a href="#"><i class="fa fa-youtube"></i><span>YouTube</span></a>
        <a href="#"><i class="fa fa-github"></i><span>Github</span></a>
        <a href="#"><i class="fa fa-dribbble"></i><span>Dribbble</span></a>
        <a href="#"><i class="fa fa-flickr"></i><span>Flickr</span></a>
        <a href="#"><i class="fa fa-tumblr"></i><span>Tumblr</span></a>
        <a href="#"><i class="fa fa-vk"></i><span>VK</span></a>
        <a href="#"><i class="fa fa-skype"></i><span>Skype</span></a>
        <a href="#"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
        <a href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a>
    </div>
    <!-- /Social Buttons -->

</script>
‍
</body>

</html>